g9{ color: White; background: #A02560}
g8{ color: White; background: #F07DAB}
g7{ color: White; background: #FAC9DE}
g6{ color: White; background: #FCEDF4}
g5{ color: White; background: #FFFFFF}
g4{ color: White; background: #EAFFFF}
g3{ color: White; background: #D7FFFF}
g2{ color: White; background: #8CFFFF}
g1{ color: White; background: #10C8D1}
gn{ color: White; background: #C0C0C0}
