td.Score9{
        color: #FFFFFF;
        background: #A02560;
        }
td.Score8{
        background: #F07DAB;
        }
td.Score7{
        background: #FAC9DE;
        }
td.Score6{
        background: #FCEDF4;
        }
td.Score5{
        background: #FFFFFF;
        }
td.Score4{
        background: #EAFFFF;
        }
td.Score3{
        background: #D7FFFF;
        }
td.Score2{
        background: #8CFFFF;
        }
td.Score1{
        background: #10C8D1;
        }
td.ScoreNaN{
            background: #C0C0C0;
        }       


